@media (max-width: 991.98px) {
    .custom-navbar {
        background-color:var(--primary-color) !important;
    }

    .custom-navbar .nav-link {
        color: var(--secondary-color) !important;
    }
    .search {
        margin: 0 !important;
    }
    .logo {
        width: 100px !important;
    }
    .navbar .container {
        padding-block: 10px !important;
    }
    .octagon-btn {
        width: 100% !important;
    }
    .text {
        bottom: 10%;
        left: 5%;
        max-width: 90%;
        text-align: center;
    }