@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Michroma&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color :#083C61;
    --secondary-color: #F15A3C;
}

body {
    font-family: 'IBM Plex Sans', 'Almarai', sans-serif;
    margin: 0;
    padding: 0;
}
/* header */
header {
    background-image: url('/images/bg-img.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* hover links navbar */
.custom-navbar .nav-link {
    position: relative;
    transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover {
    color: var(--secondary-color) !important; 
}
.custom-navbar .nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 0.3s ease;
}

.custom-navbar .nav-link:hover::after {
    width: 100%;
}
@media (max-width: 991.98px) {
    .custom-navbar {
        background-color:var(--primary-color) !important;
    }

    .custom-navbar .nav-link {
        color: var(--secondary-color) !important;
    }
    }